<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .message-box {
    background-color: #4CAF50; 
    color: white; 
    padding: 16px;
    border-radius: 10px; 
    text-align: center; 
    margin: 10px 0; 
}

.message {
    font-size: 18px; /* Increase font size */
}

    </style>
</head>
<body>
    <!-- <h1>your email has been verified.</h1> -->
    <div class="message-box">
        <p class="message">Your email has been verified.</p>
    </div>
    

</body>
</html>